<div class="dashboard">
    <div class="main">
        <div class="row grid-align">
            <div class="col-4">
                <mdb-card class="z-depth-2"  mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/avatar/computer.png" alt="gerir usuários" width="80px" height="80px">
                        <mdb-card-title>
                            <h2>Dashboard Administrador</h2>
                        </mdb-card-title>
                        <mdb-card-text> 
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> 
                                    Olá <mdb-badge class="z-depth-0" style="font-size: 14px; font-weight: normal;" pill="true" default="true">{{ nameAdmin }}</mdb-badge> 
                                    essa é a sua área pessoal. Faça o que desejar e ulize esse menu para se desconectar
                                <mdb-icon fas icon="quote-right"></mdb-icon>
                            </p>
                        </mdb-card-text>
                        <hr>
                        <button type="button" mdbBtn outline="true" color="pink" (click)="signOut()" mdbWavesEffect>FAZER LOGOFF</button>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-4">
                <mdb-card class="z-depth-2"  mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/avatar/avatar-user.png" alt="gerir usuários" width="80px" height="80px">
                        <mdb-card-title>
                            <h2>Gerenciar usuários</h2>
                        </mdb-card-title>
                        <mdb-card-text>    
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> 
                                    Por aqui você pode administrar o acesso do usuarios que estão cadastrados no sistema
                                <mdb-icon fas icon="quote-right"></mdb-icon>
                            </p>
                        </mdb-card-text>
                        <hr>
                        <button type="button" mdbBtn outline="true" color="info" (click)="toUserManager()" mdbWavesEffect>GERENCIAR</button>
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <div class="col-4">
                <mdb-card class="z-depth-2"  mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/avatar/note.png" alt="gerir usuários" width="80px" height="80px">
                        <mdb-card-title>
                            <h2>Checagem de acessos</h2>
                        </mdb-card-title>
                        <mdb-card-text> 
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> 
                                   Por aqui você pode verificar o comportamento dos usuários que estão cadastrados no sistema.
                                <mdb-icon fas icon="quote-right"></mdb-icon>
                            </p>
                        </mdb-card-text>
                        <hr>
                        <button type="button" mdbBtn outline="true" color="primary" (click)="toUserAccess()" mdbWavesEffect>VERIFICAR</button>
                    </mdb-card-body>
                  </mdb-card>
            </div>
        </div>
    </div> 
</div>