<div class="user-access">
    <div class="content z-depth-2">
        <div class="header">
            <img src="/assets/img/avatar/note.png" alt="gerir usuários" width="80px" height="80px">
            <h6>VERIFICAÇÃO DE ACESSOS</h6>
            <p><mdb-icon fas icon="quote-left"></mdb-icon> Seja bem vindo(a) <mdb-badge class="z-depth-0" style="font-size: 14px; font-weight: normal;" pill="true" info="true">{{ nameAdmin }}</mdb-badge> esse é o histórico de acessos dos usuários cadastrados <mdb-icon fas icon="quote-right"></mdb-icon></p>
        </div> 
        <div class="main">
            <div class="row grid-align">
                <ngx-datatable
                    [rows]="rows"
                    class="material"
                    [loadingIndicator]="loading"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [messages]="{emptyMessage: '<center>Nenhum acesso cadastrado</center>'}"
                    [limit]="5"
                >
                    <ngx-datatable-column
                        [width]="50"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false">
    
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nome" [width]="50" prop="name"></ngx-datatable-column>
                    <ngx-datatable-column name="usuario" [width]="100" prop="username"></ngx-datatable-column>
                    <ngx-datatable-column name="email" [width]="200" prop="email">
                        
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acesso em" [width]="100">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mdb-badge class="z-depth-0" style="font-size: 14px; font-weight: normal;" pill="true" primary="true">{{ row.accessedIn | date: 'dd/MM/yyyy hh:mm:ss' }}</mdb-badge>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>     
        </div>  
    </div>
</div>