<div class="dashboard">
    <div class="content z-depth-2">
        <div class="header">
            <img src="/assets/img/avatar/dashboard.png" alt="usuario" width="80px" height="80px">
            <h6>Dashboard de usuário</h6>
            <p><mdb-icon fas icon="quote-left"></mdb-icon> Seja bem vindo(a) {{ nameuser }}, essa é a sua área pessoal. Aproveite o que temos de melhor <mdb-icon fas icon="quote-right"></mdb-icon></p>
        </div> 
        <button type="button" mdbBtn color="light" (click)="signOut()" mdbWavesEffect>FAZER LOGOFF</button>
        <div class="footer">
            <hr>
            <p>© 2020 Todos os direitos autorais estão reservados</p>
        </div>
    </div>
</div>