<div class="dashboard">
    <div class="progress-bar" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> 
    <div class="main">
        <div class="row grid-align">
            <div class="col-4" *ngFor="let user of rows">
                <mdb-card class="z-depth-2"  mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/avatar/avatar-user.png" alt="gerir usuários" width="80px" height="80px">
                        <mdb-card-title>
                            <h2>{{ user. name }}</h2>
                        </mdb-card-title>
                        <mdb-card-text> 
                            {{ user.username }}
                        </mdb-card-text>                    
                        <div class="user-status" (click)="changeStatus(user)" [ngClass]="{'primary-color': user.isActive == true, 'danger-color': user.isActive == false }" mdbWavesEffect>{{ user.isActive ? 'ATIVO' : 'BLOQUEADO' }}</div>
                        <hr>
                        <button type="button" mdbBtn outline="true" color="pink" (click)="viewUser(modalUser, user)" mdbWavesEffect>VER DETALHES</button>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>     
    </div>  
</div>

<div mdbModal #modalUser="mdbModal" class="modal fade modal-zindex">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" (click)="modalUser.hide()">
                    <span>×</span>
                </button>
                <h2 class="modal-title w-100">
                    <img src="/assets/img/avatar/avatar-user.png" alt="gerir usuários" width="80px" height="80px">
                </h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input formControlName="name" matInput required>
                                <mat-icon matSuffix>face</mat-icon>
                                <mat-error>preencha o nome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Sobrenome</mat-label>
                                <input formControlName="surname" matInput required>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <mat-error>preencha o sobrenome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Whatzapp</mat-label>
                                <input formControlName="whatzapp" matInput required mask="(00) 00000-0000">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error>Preencha essa capo corretamente, ex: (00) 00000-000</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput required>
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error>preencha o email corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Login</mat-label>
                                <input formControlName="username" matInput required>
                                <mat-icon matSuffix>security</mat-icon>
                                <mat-error>preencha o nome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input #pass formControlName="password" type="password" matInput required>
                                <mat-icon #icon style="cursor: pointer;" (mousedown)="showPassword(pass, icon)" (mouseup)="hidePassword(pass, icon)" matSuffix>visibility_off</mat-icon>
                                <mat-error>preencha o sobrenome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form> 
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="indigo" class="relative waves-light" (click)="updateUser(modalUser, form.value)" mdbWavesEffect>ATUALIZAR USUÁRIO</button>
            </div>
        </div>
    </div>
</div>